* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: lawngreen;
}

#root {
  font-family: monospace;
  background-color: aquamarine;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding: 2rem;
  background-color: ivory;
  width: 60vw;
  min-height: 100vh;
}

ul {
  margin: 0;
  list-style: none;
  padding-left: unset;
}

li {
  margin: 0.5rem;
}

li:hover {
  background-color: antiquewhite;
}
